<!DOCTYPE html>
<html lang="en">
    <head>
        <title>request metode</title>
    </head>
    <body>
        <div id="output"></div>
    </body>
</html>
<script>
    var  outputDiv=document.getElementById("output")
    function postAjax(){
            $.ajax({
        url: "/",
        method: "POST",
        data: {
            zipcode: 97201
        },
        success: function( result ) {
            outputDiv.innerHTML=result.status
            console.log(result)
        }
        });
    }
    setInterval(postAjax, 1000)
</script>